# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key
from config import weather_api_key

#url = "http://api.openweathermap.org/data/2.5/weather?&units=imperial&"
units = "imperial"
query_url = f"http://api.openweathermap.org/data/2.5/weather?appid={weather_api_key}&units={units}&q="

In [2]:
print(g_key)

AIzaSyBwJLzLJhI5yMMAhQLacUaLKnrXDv4xAxU

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
file = "output_data/cities.csv"
output_data = pd.read_csv(file)
output_data

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,nederland,75,US,1593461328,74,29.97,-93.99,89.60,18.34
1,1,ushuaia,75,AR,1593461328,69,-54.80,-68.30,35.60,8.05
2,2,tooele,90,US,1593461328,51,40.53,-112.30,59.00,5.82
3,3,nelson bay,85,NZ,1593461328,88,-41.28,173.28,42.01,4.00
4,4,tuktoyaktuk,40,CA,1593461329,54,69.45,-133.04,55.40,5.82
...,...,...,...,...,...,...,...,...,...,...
569,569,tchollire,100,CM,1593461421,90,8.40,14.17,71.87,3.18
570,570,dongsheng,2,CN,1593461421,62,39.82,109.98,63.43,10.83
571,571,batagay,75,RU,1593461422,41,67.63,134.63,57.99,5.77
572,572,isangel,40,VU,1593461422,88,-19.55,169.27,68.00,13.89
573,573,pucara,0,PE,1593461422,15,-15.98,-71.46,64.40,10.29

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [5]:
output_data = output_data.dropna()
locations = output_data[["Lat","Lng"]].astype(float)
weight = output_data["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations=locations, weights=weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
weather_criteria = output_data.copy()

weather_criteria = weather_criteria.loc[weather_criteria["Cloudiness"] == 0]

weather_criteria = weather_criteria.loc[weather_criteria["Wind Speed"] < 10]

weather_criteria = weather_criteria.loc[(weather_criteria["Max Temp"] < 80) & (weather_criteria["Max Temp"] > 70)]

weather_criteria.reset_index(inplace=True)

del weather_criteria['index']

weather_criteria.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,6,port alfred,0,CD,1593461329,49,-7.03,29.76,76.41,7.90
1,8,port elizabeth,0,CD,1593461329,49,-7.03,29.76,76.41,7.90
2,85,khatanga,0,RU,1593461341,49,71.97,102.50,77.04,9.73
3,123,saskylakh,0,RU,1593461350,41,71.92,114.08,78.30,8.77
4,214,port blair,0,CD,1593461365,49,-7.03,29.76,76.41,7.90

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
hotel_df = weather_criteria.copy()
hotels = []

for i in range(len(hotel_df)):
    longitude = hotel_df.loc[i]["Lng"]
    latitude = hotel_df.loc[i]["Lat"]

    params = {
        "location": f"{latitude},{longitude}",
        "radius": 5000,
        "type" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    getjson = requested.json()
    try:
        hotellist.append(getjson["results"][0]["name"])
    except:
        hotels.append("")
weather_criteria["Hotel Name"] = hotels
weather_criteria = weather_criteria.dropna(how='any')
weather_criteria.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,6,port alfred,0,CD,1593461329,49,-7.03,29.76,76.41,7.90,
1,8,port elizabeth,0,CD,1593461329,49,-7.03,29.76,76.41,7.90,
2,85,khatanga,0,RU,1593461341,49,71.97,102.50,77.04,9.73,
3,123,saskylakh,0,RU,1593461350,41,71.92,114.08,78.30,8.77,
4,214,port blair,0,CD,1593461365,49,-7.03,29.76,76.41,7.90,

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
marker = gmaps.marker_layer(locations)

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(marker)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))